nav {
    background-color: #483D03;
    font-family:"Poppins", sans-serif;
    font-weight: 700;
    color: #8A7090;
}

ul {
    list-style-type: none;
}

nav .navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FF8C42;
}

nav .nav-link {
    font-size: 1.25rem;
    font-weight: 700;
    color: #FF8C42;
}

.image4sectionCultivation {
    height: 89%;
    width: 100%
}

body {
    background: linear-gradient(#D0F1BF,#8A7090);
    font-family:"Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #bff1c0;
    text-align: center;
    padding: 0;
}

#hover-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background-color: #FF8C42;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
}

.rounding {
    border-radius: 50%;
}

.round {
    border-radius: 50%;
    height:100%;
}

h4 {
    color: #FF8C42;
    font-family:"Poppins", sans-serif;
    font-weight: 700;

}

.orange {
    color: #FF8C42;
    font-family:"Poppins", sans-serif;
}

.white {
    color: white;
    font-family:"Poppins", sans-serif;
}

div {
    align-content: center;
    text-align: left;
    list-style-type: none;
}
section:nth-child(2){
position: relative;
}

section:nth-child(3),
section:nth-child(5),
section:nth-child(7){
    background-color:#9ABD97;
    color: #483D03;
    width: 80%;
}
section:nth-child(4),
section:nth-child(6),
section:nth-child(8){
    background-color: #96d09e;
    color: #5c7e57;
    width: 80%;
}

section:nth-child(9) {
    background-color: #483D03;
    text-align: center;
    color: #FF8C42;
}